<%= form_with(model: list) do |form| %>
  <% if list.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
        <% list.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class = "form-group">
    <%= form.label :name_of_list, style: "display: block" %>
    <%= form.text_field :name_of_list, class: "formc-control" %>
  </div>

  <div class = "form-group">
    <%= form.label :public_view, style: "display: block" %>
    <%= form.check_box :public_view %>
  </div>

  <%= content_tag :div, class: 'field' do %>
      <%= check_box_tag :restore %>
      Restore Deleted Record
  <% end if list.discarded? %>
  
  <div>
    <%= form.submit class: "btn btn-primary"%>
  </div>
<% end %>
