
<div class = "row">

	<div class="col-md-3">
<p style="color: green"><%= notice %></p>

<%= render @list %>


<%= link_to "Write a TODO item", new_list_list_item_path(@list), class: "btn btn-primary"%>

<div>
  <%= link_to "Edit this list", edit_list_path(@list) %> |
  <%= link_to "Back to lists", lists_path %>

  <%= button_to "Destroy this list", @list, method: :delete %>
</div>
</div>

<div class="col-md-9">
	<% if @list_items.blank? %>
	   <h2>No Todo Items. Be first to write one</h2>
    <% else %>
    <% @list_items.each do |list_item| %>
		<p><%= list_item.short_name %></p>
		<p><%= list_item.description %></p>
		<p><%= list_item.completion_status %></p>

	<% end %>
<% end %>

</div>

</div>