<%= form_with(model: list_item) do |form| %>
  <% if list_item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(list_item.errors.count, "error") %> prohibited this list_item from being saved:</h2>

      <ul>
        <% list_item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :short_name, style: "display: block" %>
    <%= form.text_field :short_name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

   <%= content_tag :div, class: 'field' do %>
      <%= check_box_tag :restore %>
      Restore Deleted Record
  <% end if list_item.discarded? %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
