<br>
<br>
<br>

<h2>List items</h2>

<div id="list_items">
	 <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Short Name</th>
                      <th>Description</th>
                      <th>Completion status</th>
                      <th>Deleted?</th>
                      <th colspan="3"></th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @list_items.each do |list_item| %>
                 
                      <tr>
                      	 
                        <td><%= list_item.short_name %></td>
                        <td><%= list_item.description %></td>
                        <td><%= list_item.completion_status %></td>
                        <td><%= list_item.discarded? ? '✓': ' ' %></td>
                        <td><%= link_to 'Show', list_item %></td>
                        <td><%= link_to 'Edit', edit_list_item_path(list_item) %></td>
                        <td><%= link_to 'Destroy', list_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                      </tr>
              
                    <% end %>
                  </tbody>
                </table>
</div>

<%= link_to "New list item", new_list_item_path %>